{% macro dates() %}
<li> Call for Proposals: 2016-10-17 to 2016-12-02 </li>
<li> Notification Date: 2017-01-13 </li>
<li> Schedule Announcement: 2017-01-20 </li>
<li> Workshops Day: 2017-04-25 </li>
<li> Conference: 2017-04-26 to 2017-04-29 </li>
</ul>
{% endmacro %}

{% macro sponsors() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsors</h3>
  </div>
  <div class="panel-body">
      <p><a href="https://www.jetbrains.com/"><img src="/assets/images/2017_SponsorLogos/Jetbrains_NL.jpg" alt="JetBrains Logo" class="img-responsive img-rounded center-block"/></a></p>
      <br/>
      <p><a href="http://undo.io/"><img src="/assets/images/2017_SponsorLogos/Undo_Master_3x.png" alt="Undo Logo" class="img-responsive img-rounded center-block"/></a></p>
      <br/>
      <p><a href="http://mosaic.fm/"><img src="/assets/images/2017_SponsorLogos/MosaicLogo.png" alt="Mosaic Logo" class="img-responsive img-rounded center-block"/></a></p>
  </div>
</div>
{% endmacro %}

{% macro committee() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Programme Committee</h3>
  </div>
  <div class="panel-body">
    <ul class="nolist">
      <li> Russel Winder (Chair) </li>
      <li> Gail Ollis </li>
      <li> Jon Jagger </li>
      <li> Francis Glassborow </li>
      <li> Olve Maudal </li>
      <li> Roger Orr </li>
      <li> Felix Petriconi </li>
      <li> Charles Bailey </li>
      <li> Dirk Haun </li>
      <li> Anastasia Kazakova </li>
    </ul>
  </div>
</div>
{% endmacro %}

{% macro organiser() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Organiser</h3>
  </div>
  <div class="panel-body">
    <a href="http://www.archer-yates.co.uk/"><h4> Archer Yates Ltd </h4></a>
    <img src="/assets/images/AYA_holding.png" width="50" align="right" alt="AYALogo"/>
    <ul class="nolist">
      <li> 7 Threshers Yard </li>
      <li> West Street </li>
      <li> Kingham </li>
      <li> Oxfordshire OX7 6YF  </li>
      <li> </li>
      <li> Telephone: +44 1608 659900  </li>
      <li> Fax: +44 1608 659911  </li>
      <li> Email: julie@archer-yates.co.uk </li>
    </ul>
  </div>
</div>
{% endmacro %}
