{% macro cocbits() %}
<h4>
	<a href="https://twitter.com/ACCUConf">@ACCUConf</a>
	<a href="https://twitter.com/hashtag/ACCUConf">#ACCUConf</a>
	<a href="/rss.xml"><img class="img-responsive" src="/assets/images/feed-icon-28x28.png" align="right" alt="RSS icon"></a>
</h4>
<h3>
	<a href="/stories/coc_code_of_conduct.html">Code of Conduct</a>
</h3>
<br/>
{% endmacro %}

{% macro dates() %}
<ul class="nolist list-group">
	<li> Call for Proposals: 2017-10-16 to 2017-11-17 </li>
	<li> Notification Date: 2018-01-12 </li>
	<li> Schedule Announcement: 2018-01-19 </li>
	<li> Workshops Day: 2018-04-10 </li>
	<li> Conference: 2018-04-11 to 2018-04-14 </li>
</ul>
{% endmacro %}

{% macro location() %}
<p><a href="http://www.marriott.co.uk/hotels/travel/brsdt-bristol-marriott-hotel-city-centre/">Bristol Marriott Hotel City Centre</a></p>
<p>
	2 Lower Castle Street<br/>
	Old Market<br/>
	Bristol<br/>
	England BS1 3AD<br/>
	United Kingdom
</p>
{% endmacro %}

{% macro sponsors() %}
{% endmacro %}

<!--
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsors</h3>
  </div>
  <div class="panel-body">
    <p><a href="https://www.techatbloomberg.com/"><img src="/assets/images/2017_SponsorLogos/Bloomberg_black.png" alt="Bloomberg Logo" class="img-responsive img-rounded center-block"/></a></p>
    <br/>
    <p><a href="https://www.jetbrains.com/"><img src="/assets/images/2017_SponsorLogos/Jetbrains_NL.jpg" alt="JetBrains Logo" class="img-responsive img-rounded center-block"/></a></p>
    <br/>
    <p><a href="http://undo.io/"><img src="/assets/images/2017_SponsorLogos/Undo_Master_3x.png" alt="Undo Logo" class="img-responsive img-rounded center-block"/></a></p>
    <br/>
    <p><a href="http://mosaic.fm/"><img src="/assets/images/2017_SponsorLogos/MosaicLogo.png" alt="Mosaic Logo" class="img-responsive img-rounded center-block"/></a></p>
    <br/>
    <p><a href="http://www.ocadotechnology.com/"><img src="/assets/images/2017_SponsorLogos/OcadoTechnology.png" alt="Ocado Technology Logo" class="img-responsive img-rounded center-block"/></a></p>
    <br/>
    <p><a href="https://conan.io/"><img src="/assets/images/2017_SponsorLogos/conan_io.svg" alt="Conan.io Logo" class="img-responsive img-rounded center-block"></a></p>
    <br/>
    <p><a href="http://www.qbssoftware.com/products/Intel_Parallel_Studio_XE/overview/_prodintelparxe"><img src="/assets/images/2017_SponsorLogos/qbs_software_logo.png" alt="QBS Logo" class="img-responsive img-rounded center-block"></a></p>
    <br/>
    <p><a href="https://www.riverblade.co.uk"><img src="/assets/images/2017_SponsorLogos/riverblade_logo.png" alt="Riverblade Logo" class="img-responsive img-rounded center-block"></a></p>
    <br/>
    <p><a href="http://snsystems.com/"><img src="/assets/images/2017_SponsorLogos/snsystems.png" alt="SNSystems Logo" class="img-responsive img-rounded center-block"></a></p>
    <br/>
    <p><a href="https://www.steema.com/"><img src="/assets/images/2017_SponsorLogos/Steema_logo.png" alt="Steema Logo" class="img-responsive img-rounded center-block"></a></p>
  </div>
</div>
-->

{% macro committee() %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Programme Committee</h3>
	</div>
	<div class="panel-body">
		<ul class="nolist">
			<li> Russel Winder (Chair) </li>
			<li> Gail Ollis </li>
			<li> Jon Jagger </li>
			<li> Francis Glassborow </li>
			<li> Olve Maudal </li>
			<li> Roger Orr </li>
			<li> Felix Petriconi </li>
			<li> Charles Bailey </li>
			<li> Anastasia Kazakova </li>
			<li> Jon Kalb </li>
			<li> Dinka Ranns </li>
		</ul>
	</div>
</div>
{% endmacro %}

{% macro organiser() %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Organiser</h3>
	</div>
	<div class="panel-body">
		<a href="http://www.archer-yates.co.uk/"><h4> Archer Yates Ltd </h4></a>
		<img src="/assets/images/AYA_holding.png" width="50" align="right" alt="AYALogo"/>
		<ul class="nolist">
			<li> 7 Threshers Yard </li>
			<li> West Street </li>
			<li> Kingham </li>
			<li> Oxfordshire OX7 6YF </li>
			<li> </li>
			<li> Telephone: +44 1608 659900 </li>
			<li> Fax: +44 1608 659911 </li>
			<li> Email: julie@archer-yates.co.uk </li>
		</ul>
	</div>
</div>
{% endmacro %}

<!--
{% macro current_menu() %}
{% endmacro %}
-->

{% macro current_menu() %}
<div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
	<ul class="nav navbar-nav" id="navigation-links">
		<li><a href="https://cfp.conference.accu.org">Call for Session Proposals</a></li>
	</ul>
</div>
{% endmacro %}

{% macro previous_conferences() %}
<div class="dropdown">
	<br/>
	<a href="#" data-toggle="dropdown" class="navbar-brand">Previous ACCUs <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li>
			<a href="#">2017</a>
			<ul>
				<li><a href="/stories/2017/schedule.html">Schedule</a></li>
				<li><a href="/stories/2017/speakers.html">Speakers</a></li>
				<li><a href="/stories/2017/sessions.html">Sessions</a></li>
				<li><a href="/stories/2017/sponsors.html">Sponsors</a></li>
			</ul>
		</li>
		<li>
			<a href="#">2016</a>
			<ul>
				<li><a href="/stories/2016/schedule.html">Schedule</a></li>
				<li><a href="/stories/2016/speakers.html">Speakers</a></li>
				<li><a href="/stories/2016/sessions.html">Sessions</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endmacro %}

{% macro countdown() %}
<div class='cvt-main-app' data-widget-url='www.cvent.com/d/wvqv91/6V'>
	<script type='text/javascript'>
		window.cvtDomain = 'www.cvent.com'
		var cventWidgetLoaderScript = document.createElement('script')
		var numberOfHoursFrom1970 = new Date().getTime() / (3600 * 1000)
		cventWidgetLoaderScript.src = '//www.cvent.com/g/mobile/javascript/widget-loader.js?versioninhrs=' + numberOfHoursFrom1970
		document.getElementsByTagName('head')[0].appendChild(cventWidgetLoaderScript)
	</script>
</div>
{% endmacro %}
