# A virtualenv is being used to run the Flask application so use the latest versions from PyPI

Flask
Flask-Bootstrap
flask-cors
SQLAlchemy
Flask_SQLAlchemy

# Not needed for the application but needed for the CLI stuff.

reportlab
